<!DOCTYPE html>
<head>
    <title>
        Nasa API Project
    </title>
    <!--<link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" /> -->
    <script></script>
    <h2>
        <%=data.date%>
    </h2>
</head>
<br>
<body>

</body>